*

# Need to gitallow the folder to gitallow it's content

!inputrc
!gdbinit

!yabai
!yabai/**

!zellij
!zellij/**

!skhd
!skhd/**

!alacritty/
!alacritty/**

!bspwm/
!bspwm/**

!polybar/
!polybar/**

!gh/
!gh/config.yml

!nvim/
!nvim/**

!sxhkd/
!sxhkd/**

!BeeperTexts/
!BeeperTexts/custom.css

!VSCodium/
!VSCodium/User/
!VSCodium/User/*.json
!VSCodium/User/snippets/
!VSCodium/User/snippets/**

!dunst/
!dunst/**

!.gitignore

!qutebrowser
!qutebrowser/config.py
